#insttable input {
    width: 7em;
}

#sap-form table input{
    width: 5em;
}

.bad {
    background-color:#fc6666;
    border-radius: 3px;
	border: red groove thin;
    padding: 0 0.5em;
}

.good {
    background-color: #c0ffcb;
    border-radius: 3px;
	border: green groove thin;
    padding: 0 0.5em;
}

#sap-courses fieldset tbody tr:nth-child(2n) {
    background-color: transparent;
}

#sap-courses input {
    background-color: transparent;
}
