#insttable input {
  width: 7em;
}

#sap-form table input {
  width: 5em;
}

.bad {
  background-color: #fc6666;
  border: #f00 groove thin;
  border-radius: 3px;
  padding: 0 .5em;
}

.good {
  background-color: #c0ffcb;
  border: #0f0 groove thin;
  border-radius: 3px;
  padding: 0 .5em;
}

#sap-courses {
  fieldset tbody tr:nth-child(2n),
  input {
    background-color: transparent;
  }
}

#sap-understand {
  td,
  th {
    text-align: center;
    vertical-align: middle; 
  }
}

/* Following styles are provided through our Drupal theme, but are
   provided here because they're particularly useful. element-invisible, 
   for example, is used to make labels are that are readable by screenreaders.*/
.element-invisible {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
}

.notice {
  background-color: #FFF7B5;
  border: 2px solid #EAB01F;
  border-radius: 10px;
  margin-left: 2px !important;
  margin-right: 2px !important;
  padding: 6px;
}
