#insttable input {
  width: 7em;
}

#sap-form table input {
  width: 5em;
}

.alert {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.bad {
  @extend .alert;
  // this is the non-standard bootstrap text color, to increase constrast
  color: #893432;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.good {
  @extend .alert;
  // this is the non-standard bootstrap text color, to increase constrast
  color: #1c561d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

#totalInstError, #totalTransError {
  display: none;
  @extend .bad;
}

.aps {
  display: none;
}

#sap-courses {
  fieldset tbody tr:nth-child(2n),
  input {
    background-color: transparent;
  }
}

#sap-understand {
  td,
  th {
    text-align: center;
    vertical-align: middle; 
  }
}

/* Following styles are provided through our Drupal theme, but are
   provided here because they're particularly useful. element-invisible, 
   for example, is used to make labels are that are readable by screenreaders.*/
.element-invisible {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
}

.notice {
  background-color: #FFF7B5;
  border: 2px solid #EAB01F;
  border-radius: 10px;
  margin-left: 2px !important;
  margin-right: 2px !important;
  padding: 6px;
}
